.container{
   width: 100%;
   min-height:100vh;
   background: linear-gradient(135deg, #135677, #4e085f);
   padding: 10px;
}

.to-do-list{
   width: 100%;
   max-width: 640px;
   height:100vh;
   margin: 100px auto  30px;
   padding: 30px auto;
   border-radius: 10px;
   background: white;
  font-family: 'Poppins', Sans-serif;
}

.to-do-list h2{
   display: flex;
   justify-content: center;
   align-items: center;
   color: orange;
   margin-top 20px 20px 200px;
}

.to-do-list h2 img{
  width: 30px;
  margin-left: 30px;
  margin-top: 10px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 20px;
  
}

input{
   flex:1;
   align-items: center;
   justify-content: space-between;
   margin: 20px;
   padding: 15px;
   border: 1px solid #bbb;
   outline: none;
   border-radius: 10px;
   background: transparent;
}

button{
   padding: 15px 20px;
   background: blue;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   color: white;
   
}

ul li{
  position: relative;
  list-style: none;
  margin: 20px;
  line-height: 1.0;
  font-size: 20px;
  color: orange; 
  user-select: none;
  cursor:pointer;
  padding-left: 50px;
 
}
  
ul li::before{
  position: absolute;
  content:'';
  width: 25px;
  height: 25px;
  background-image: url("unchecked.jpg");
  background-size: cover;
  background-position: center;
  left: 10px;
  right: 20px;
}

ul li.checked{
  color: #555;
  text-decoration: line-through;

}

ul li.checked::before{
  background-image: url("checked.jpg");
  background-size: cover;
}

ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  color: #555;
  line-height: 30px;
}

ul li span:hover{
  background: #edeef0;
}
  
